.body{
    width: 100vw;
    height: 100vh;
}

.carouselBody{

    width: 100vw;
    min-height:800px ;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.carouselItem{

    width: 100vw;
    height:95vh;

}

.carouselImage{

    width: 100%;
    height: 100%;
    
}
.font_{
    font-family: 'Bold', sans-serif;
}

.title{
    font-size: 3rem !important;
    text-align: center;
    font-family: 'Bold', sans-serif;
    font-weight: 600 !important;
    color:rgb(255, 255, 255);
    font-weight: 400;
    cursor: default;
    margin-bottom:50px;

    
}
.description{
    font-family: 'Bold', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    cursor: default;
    max-width: 1000px;
    color:rgb(241, 240, 240);
    margin-bottom: 80px;
}

#dropdown-basic{
    position: relative !important;
    border-bottom: 2px solid transparent !important; /* Establece un borde inicialmente transparente */
    opacity: 1; /* Establece la opacidad inicial a 1 (completamente visible) */
    transition: all 0.3s !important; /* Aplica una transición suave a todas las propiedades */
  }
  
  #dropdown-basic:before {
    content: "" !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 50% !important; /* Posiciona el elemento en el centro */
    width: 0 !important;
    border-bottom: 4px solid !important; /* Establece el color y grosor del borde */
    transition: all 0.3s !important; /* Aplica una transición suave al borde inferior */
    transform: translateX(-50%) !important; /* Centra el borde en relación al elemento padre */
    opacity: 0 !important; /* Establece la opacidad inicial a 0 (oculto) */
  }
  
  #dropdown-basic:hover:before {
    width: 100% !important; /* Establece el ancho del borde al 100% al hacer hover */
    opacity: 1 !important; /* Hace que el borde sea completamente visible al hacer hover */
  }

  .cardsContainer{
    width: 100vw;
    min-height: 270px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .card{
    width: 270px;
    height: 270px;
    margin: 20px;
    border-radius: 30px !important;
    transition: all 0.5s !important;
    display: flex;
    align-items: center;
    justify-content: end;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  }

  .card:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
    transform: scale(1.1);
  }

  .textCard{
    color:rgb(250, 250, 250);
    font-family: 'Bold', sans-serif;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    width: 70%;
    background: linear-gradient(to bottom, #04417a     ,  #3497f9 );
    border: none;
    border-radius: 30px;
    transition: all 2s !important;
    /* box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.25); */
  }

  .textCard:hover{
    transition: all 2s !important;
    background: linear-gradient(to bottom,   #042b64     ,  #04417a );
    font-family: 'Bold', sans-serif;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    width: 70%;
    border: none;
    border-radius: 50px;
  }
  

  /*media queries*/
/* tablet screens */

@media (max-width:1024px) and (min-height:800px) {

    .title{
        font-size: 30px;
    }
    .description{
        font-size: 15px;
    }
    .cardsContainer{
        flex-direction: column;
        min-height: 30vh;
        align-items: center;
    }
    .card{
      height:200px !important;
      width: 250px !important;
      border-radius: 20px !important;
    }

    .textCard{
        color:rgb(250, 250, 250);
        font-family: 'Bold', sans-serif;
        font-size: 10px;
        padding: 10px;
        text-align: center;
        font-weight: 900;
        width: 70%;
        background-color: black;
        border: none;
        border-radius: 10px;
      }

      .textCard:hover{
        color:rgb(4, 4, 4);
        font-family: 'Bold', sans-serif;
        font-size: 10px;
        padding: 10px;
        text-align: center;
        font-weight: 900;
        width: 70%;
        background-color: rgb(243, 243, 243);
        border: none;
        border-radius: 10px;
      }

}

/* movile screens */

@media (max-width:600px) {

    .title{
        font-size: 30px;
    }
    .description{
        font-size: 15px;
    }
    .cardsContainer{
        flex-direction: column;
        min-height: 30vh;
        align-items: center;
    }
    .card{
      height:200px !important;
      width: 250px !important;
      border-radius: 20px !important;
    }

    .textCard{
        color:rgb(250, 250, 250);
        font-family: 'Bold', sans-serif;
        font-size: 10px;
        padding: 10px;
        text-align: center;
        font-weight: 900;
        width: 70%;
        background-color: black;
        border: none;
        border-radius: 10px;
      }
    
      .textCard:hover{
        color:rgb(4, 4, 4);
        font-family:montserrat,sans-serif;
        font-size: 10px;
        padding: 10px;
        text-align: center;
        font-weight: 900;
        width: 70%;
        background-color: rgb(243, 243, 243);
        border: none;
        border-radius: 10px;
      }

}

