.body_{
    width: 100vw;
    min-height: 100vh;
}

.carouselBody_{

    width: 100%;
    min-height:500px ;
    height:50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.FormularioBody{
    width: 100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.description_{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    cursor: default;
    color:rgb(142, 140, 140);
    margin-bottom: 80px;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
}

.icon-scroll {
  z-index: 5;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  -khtml-border-radius: 1rem;
  margin-bottom: 3rem !important;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: 8px;
  top: 8px;
  border-radius: 6rem;
  -webkit-border-radius: 6rem;
  -moz-border-radius: 6rem;
  border-radius: 6rem;
  -khtml-border-radius: 6rem;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll
}
@keyframes scroll {
    0% {
      opacity: 1
    }
  
    100% {
      opacity: 0;
      transform: translateY(26px)
    }
  }

.formulario{
    min-width: 300px;
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

.buttonProduct{
    border: 1px solid !important;
    padding: 10px !important;
    transition: all 1s;

}
.buttonProduct:hover{
   
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3) !important;
    background: linear-gradient(to bottom,   #042b64     ,  #04417a );
}

.delete:hover{
   color: red;
}